body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/frakard-website-image.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-toggler-icon {
  float: none;
  margin-right:0;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  padding: 0px 10px;
  list-style-type: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav>li {
  display: inline-block;
  float: none;
}

#band-logo {
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
}

@media only screen and (max-width: 760px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/frakard-mobile-bg-2.jpeg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  #band-logo {
    width: 100%;
  }
}