body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/frakard-website-image.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ------ Navbar ------- */

.navbar-toggler-icon {
  float: none;
  margin-right:0;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  padding: 0px 10px;
  list-style-type: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav>li {
  display: inline-block;
  float: none;
}

.navbar li a:hover {
  text-decoration: none;
  border-bottom: 4px solid #b82f1d;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

/* ------ Logo ------- */

#band-logo {
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
}

/* ------ Social Links ------- */

.social-links {
  display: flex;
  height: 100vh;
}

.social-links i {
  color: #b82f1d;
}

.social-links i:hover {
  color: #490c04;
}

/* ------ Single ------- */

.single-announcement {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 50px;
  bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* ------ Media queries ------- */

@media only screen and (max-width: 760px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/frakard-mobile-bg-2.jpeg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  #band-logo {
    width: 100%;
  }
}